@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
  :root {
    --background: #26255a;
    --foreground: #ededed;
    --header-height: 88px;
  }
/* } */

body {
  margin: 0;
  background: var(--background);
  background-image: linear-gradient(rgba(47, 28, 78, 0.397), rgba(0, 0, 0, 0.13)), url('/images/gradient.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  padding-top: var(--header-height);
}


@media (max-width: 959px) {
  :root {
    --header-height: 76px;
  }
}

.site-main {
  padding-top: var(--header-height);
}

html {
  scroll-padding-top: calc(var(--header-height) + 16px);
}
