.page {
    padding-inline: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page h1 {
    text-align: center;
    font-size: 6em;
    line-height: 1.02;
    font-weight: 700;
}

.page h2 {
    margin-top: 20px;
    font-size: 1.4em;
    text-align: center;
    color: rgba(255, 255, 255, 0.637);
}

.buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.buttons button {
    width: 235px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.637);
    border-radius: 4px;
    font-size: 1.1em;
    transition: 0.06s ease-in-out;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgba(0, 0, 0, 0.384);
}

.chceZnalezcSie {
    margin-top: 60px;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.178);
    width: 250px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition: 0.06s ease-in-out;
    cursor: pointer;
    background-color: rgb(6, 122, 255);

    margin-bottom: 175px;
}

.chceZnalezcSie:hover {
    background-color: rgb(0, 73, 156);
}

@media screen and (max-width: 768px) {
    .page h1 {
        font-size: 4em;
    }

    .page h2 {
        font-size: 1.2em;
    }

    .buttons {
        margin-top: 40px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .chceZnalezcSie {
        margin-bottom: 240px;
        width: 300px;
        max-width: 280px;
    }

    .buttons button {
        width: 300px;
        max-width: 280px;
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .page {
        padding-inline: 15px;
    }

    .buttons {
        margin-top: 40px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .buttons button {
        width: 300px;
        max-width: 280px;
    }
}